@import "tailwindcss";

/*######################---Select Topic---#######################*/
.select-task {
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
}

.quiz-tabs {
  display: flex;
  gap: 5px;
  padding: 5px;
}

.quiz-tabs .select-category-quiz {
  padding: 5px 12px;
  flex: 0.5;
  color: #737373;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.quiz-tabs .select-category-quiz.active {
  background-color: #fff;
  color: #000;
}

@media (max-width: 573px) {
  .quiz-tabs {
    flex-wrap: wrap;
  }
  .quiz-tabs .select-category-quiz {
    flex: 1;
    min-width: 100%;
  }
}

.quiz-tabs .select-category-quiz:hover {
  background-color: #fff;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 6px;
}

.task-card {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  transition: transform, box-shadow, 0.3s;
}

.task-card:hover {
  box-shadow: 0 4px 8px #0000001a;
}

.task-content {
  flex: 1;
  width: 100%;
  max-height: 300px;
}


.task-course {
  margin: 0 0 0.5rem 0;
  font-size: 0.9rem;
  color: #7f8c8d;
}

.no-tasks {
  text-align: center;
  padding: 2rem;
  color: #7f8c8d;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px #0000001a;
}

/* Responsive styles */
@media (max-width: 768px) {
  .task-card {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
