.edit-post-container .edit-post-main {
  width: 100%;
  display: grid;
  padding-top: 30px;
  gap: 15px;
}

@media (min-width: 0px) and (max-width: 620px) {
  .edit-post-container .edit-post-main {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 621px) and (max-width: 767px) {
  .edit-post-container .edit-post-main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .edit-post-container .edit-post-main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1081px) {
  .edit-post-container .edit-post-main {
    grid-template-columns: repeat(3, 1fr);
  }
}

.no-item {
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  background-color: #fff;
  padding: 25px;
  max-width: 800px;
  color: #737373;
  border-radius: 7px;
  font-weight: bold;
  text-transform: capitalize;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
