@import "tailwindcss";

.quiz-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  /* background-color: #c0c0c0; */
  gap: 10px;
}
.score {
  padding: 5px 10px;
  border-radius: 6px;
}

.good-score {
  background-color: var(--color-green-100);
  border: 2px solid var(--color-green-300);
  color: var(--color-green-400);
}
.bad-score {
  background-color: var(--color-red-100);
  border: 2px solid var(--color-red-300);
  color: var(--color-red-400);
}

.result {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  /* flex-wrap: wrap; */
  /* width: 300px; */
  /* background-color: #1a0d0d; */
}
.good-result {
  color: var(--color-green-400);
}
.bad-result {
  color: var(--color-red-400);
}

.score-message {
  /* background-color: chartreuse; */
  min-width: 120px;
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 35px;
  margin-top: -10px;
}

.all-questions {
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.submitted-button {
  /* position: absolute; */
  background-color: var(--mainBlue);
  margin: 0 auto;
  color: #fff;
  border-radius: 6px;
  padding: 10px 15px;
  margin-top: 15px;
  margin-bottom: 25px;
  float: right;
}

.question-box {
  background-color: #fff;
  border-radius: 6px;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.question {
  font-size: 20px;
  color: #454545;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #c0c0c0;
}

.answer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.answer .choice {
  display: flex;
  gap: 15px;
  user-select: none;
}

.answer .choice .input-choice {
  cursor: pointer;
  width: 18px;
}

.answer .choice .input-choice:checked {
  background-color: var(--mainBlue);
  border-color: var(--color-gray-800);
}

.answer .choice label {
  /* background-color: saddlebrown; */
  cursor: pointer;
  text-transform: capitalize;
}

.title-and-score {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
