.post {
  position: relative;
  box-shadow: #0000001a 0px 1px 3px 0px, #0000000f 0px 1px 2px 0px;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.post:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px #00000026;
}

.post .post-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}