@import "tailwindcss";

.aside-icon {
  margin-top: 25px;
  display: none;
  padding-top: 44px;
}

.aside-button {
  margin-top: 22px;
}

.aside {
  grid-area: aside;
}

.aside .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.aside .logo span {
  font-size: 16px;
}
