@import "tailwindcss";

.text-text {
  opacity: 0.4;
}
.contain-show {
  /* display: flex;
  justify-content: space-evenly; */
  /* padding: 15px; */
  /* background-color: saddlebrown; */
}

.shadow-box {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.lesson-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-blue {
  color: var(--mainBlue) !important;
}
.bg-main-blue {
  background-color: var(--mainBlue) !important;
}
.last-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.latest-class {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* Number of lines before truncation */
  overflow: hidden;
  text-overflow: ellipsis;
}

.last-events {
  width: 100%;
}

.event {
  border: 2px solid var(--mainBlue);
  color: var(--mainBlue);
}

.diff {
  color: var(--gray4);
  background-color: #fafafa;
}

.swiper-button-next,
.swiper-button-prev {
  color: rgb(0, 128, 255);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 30px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
.swiper-pagination-bullet {
  margin-top: 15px;
}
.swiper-pagination-bullet-active {
  /* background-color: rgb(0, 255, 200) !important; */
}

.swiper-pagination-bullet {
  background-color: rgba(255, 0, 0, 0.5);
}

.image-home {
  border-radius: 6px;
}
