.lessons-container .lessons-search {
  display: flex;
  margin-top: 15px;
  gap: 15px;
}

/*##################---Input---##################*/

.lessons-container .lessons-search .lessons-input {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: calc(75% - 15px);
  height: 40px;
  padding: 10px;
  font-size: 13px;
}

.lessons-container .lessons-search .lessons-input::placeholder {
  font-size: 13px;
}

.lessons-container .lessons-search .lessons-input:focus {
  outline: 2px solid #000;
}

/*##################---select-level--##################*/

.lessons-container .lessons-search .select-level {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 25%;
  height: 40px;
  padding: 10px;
  font-size: 13px;
  text-align: center;
}

.lessons-container .lessons-search .select-level:focus {
  outline: 2px solid #000000;
}
/*##################---select-section--##################*/

.lessons-container .lessons-main {
  width: 100%;
  display: grid;
  padding-top: 30px;
  gap: 15px;
}

@media (min-width: 0px) and (max-width: 620px) {
  .lessons-container .lessons-main {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 621px) and (max-width: 767px) {
  .lessons-container .lessons-main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .lessons-container .lessons-main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1081px) {
  .lessons-container .lessons-main {
    grid-template-columns: repeat(3, 1fr);
  }
}

.select-task {
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 15px;
}

.lessons-tabs {
  display: flex;
  gap: 5px;
  padding: 5px;
}

.lessons-tabs .lessons-category {
  padding: 5px 12px;
  flex: 0.5;
  color: #737373;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

@media (max-width: 573px) {
  .lessons-tabs {
    flex-wrap: wrap;
  }
  .lessons-tabs .lessons-category {
    flex: 1;
    min-width: 100%;
  }
}

.lessons-tabs .lessons-category:hover {
  background-color: #ffffff;
}

.lessons-tabs .lessons-category.active {
  background-color: #ffffff;
  color: #000000;
}

.no-lessons-yet {
  background-color: #fff;
  box-shadow: #00000005 0px 1px 3px 0px, #1b1f2326 0px 0px 0px 1px;
  border-radius: 6px;
  padding: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #737373;
}
