.answer {
  background: white;
  padding: 12px;
  border-radius: 7px;
  margin-bottom: 8px;
  font-size: 0.9rem;
  display: flex;
  gap: 5px;
  /* text-transform: capitalize; */
}

.answer::first-letter {
  text-transform: capitalize;
}
