.my-library h1 {
  font-weight: 600;
  font-size: 25px;
}
.my-library .search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 15px auto;
}

.my-library .search-input-library {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  flex: 1;
  height: 40px;
  padding: 10px;
  font-size: 13px;
}

.my-library .library-cards {
  background-color: #f0f0f0;
  border-radius: 9px;
  padding: 15px;
  display: flex;
  align-items: start;
  justify-content: center;
}

.my-library .loading-cards {
  background-color: #f0f0f0;
  border-radius: 9px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-library .library-cards .library-list {
  list-style: none;
  width: 100%;
  gap: 10px;
  display: grid;
}

@media (min-width: 0px) and (max-width: 620px) {
  .my-library .library-cards .library-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 621px) and (max-width: 767px) {
  .my-library .library-cards .library-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .my-library .library-cards .library-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1081px) {
  .my-library .library-cards .library-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
