@import "tailwindcss";

:root {
  --mainBlue: #4251ad;
  --hoverBlue: #3b489a;
  --white: #fff;
  --gray1: #fafafa;
  --gray11: #f0f0f0;
  --gray2: #f8f9fa;
  --gray3: #f7f7f7;
  --gray4: #737373;
  --gray5: #454545;
  --black: #000;
}
/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* .home-page {
  width: 700px;
  background-color: red;
}

.home-page .header {
  width: 100%;
  background-color: cadetblue;
}

.home-page h1 {
  background-color: darkblue;
} */

.color-main-blue {
  color: var(--mainBlue);
}
.have-account {
  margin-top: 25px;
  text-align: center;
  font-size: 13px;
  gap: 5px;
  display: flex;
  justify-content: center;
}

.have-account a {
  color: var(--mainBlue);
}

.btn {
  font-size: 14px;
  color: white;
  border-radius: 7px;
  background-color: #4351af;
  padding: 2px;
  min-width: 120px;
  height: 40px;
  font-weight: 300;
  cursor: pointer;
  transition: 0.2s;
  /* margin: 10px; */
}

.btn:hover {
  background-color: rgb(59, 72, 154);
}
.all-x {
  display: grid;
  grid-template-areas: "aside header" "aside x-container" "aside footer";
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.x-container {
  background-color: #fafafa;
  grid-area: x-container;
  padding: 45px;
  /* min-height: 100vh; */
}
footer {
  grid-area: footer;
  /* bottom: -100px; */
}

@media (max-width: 767px) {
  .all-x {
    grid-template-areas: "aside header" "x-container x-container" "footer footer";
    grid-template-columns: 30px calc(100%-30px);
  }
  .x-container {
    padding: 40px;
  }
}
@media (max-width: 1022px) {
  .all-x {
    grid-template-columns: 80px 1fr;
  }
}
@media (min-width: 1023px) {
  .all-x {
    grid-template-columns: 256px 1fr;
  }
}
