.for-or {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: var(--color-gray-300);
  font-weight: 200;
  margin: 15px auto;
  letter-spacing: 2px;
}

.for-or::before {
  content: "";
  display: block;
  background-color: var(--color-gray-200);
  width: 40%;
  height: 1px;
  /* float: left; */
}
.for-or::after {
  content: "";
  display: block;
  background-color: var(--color-gray-200);
  width: 40%;
  height: 1px;
}

.container .google-form {
  height: 40px;
  font-size: 14px;
  color: white;
  border-radius: 7px;
  background-color: #fff;
  min-width: 120px;
  height: 40px;
  font-weight: 300;
  cursor: pointer;
  transition: 0.2s;
  color: black;
  align-content: center;
  overflow: hidden;
}
.google-form a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: row;
  height: 100%;
  font-weight: 400;
  font-optical-sizing: auto;
}
.container .google-form:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
