.my-lessons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 170px);
}
.my-lessons .lesson-cards {
  background-color: var(--gray11);
  border-radius: 9px;
  padding: 15px;
  display: flex;
  align-items: start;
  margin-top: 15px;
  justify-content: center;
}
.my-lessons .loading-cards {
  background-color: var(--gray11);
  border-radius: 9px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.my-lessons .lesson-cards .lessons-list {
  list-style: none;
  width: 100%;
  gap: 10px;
  display: grid;
}

@media (min-width: 0px) and (max-width: 620px) {
  .my-lessons .lesson-cards .lessons-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 621px) and (max-width: 767px) {
  .my-lessons .lesson-cards .lessons-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .my-lessons .lesson-cards .lessons-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1081px) {
  .my-lessons .lesson-cards .lessons-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.help-section {
  margin-top: 40px;
  text-align: center;
  color: #7f8c8d;
  bottom: 0;
}

.no-lesson-card {
  background-color: var(--gray11);
  border-radius: 6px;
  margin-top: 15px;
}

.no-lessons {
  background-color: #ffffff;
  padding: 25px 20px;
  border-radius: 6px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 50%;
  box-shadow: #0000001a 0px 1px 3px 0px, #0000000f 0px 1px 2px 0px;
  margin: 25px auto;
}
