@import "tailwindcss";

/* Divider */
.add-post hr {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 20px 0;
}

/* Form Elements */
.add-post .form-group {
  margin-bottom: 20px;
}

.add-post label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
  color: #2c3e50;
}

.add-post input[type="text"],
textarea,
.file-upload {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #d2d2d7;
  border-radius: 6px;
  font-size: 15px;
  background-color: white;
  transition: border-color 0.2s;
}

.add-post input[type="text"]:focus,
textarea:focus {
  outline: 2px solid rgb(0, 0, 0);
}

.add-post textarea {
  min-height: 120px;
  resize: vertical;
}

/* File Upload */
.add-post .file-upload {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-lesson .file-upload-text {
  color: #666;
}

.file-footer {
  display: flex;
  gap: 15px;
}

.file-upload-button {
  background-color: #f0f0f5;
  border: 1px solid #d2d2d7;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  color: #2c3e50;
}

/* Buttons */
.add-post .button-group {
  display: flex;
  gap: 10px;
  margin-top: 25px;
  justify-content: end;
}

.add-post .button-post {
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  font-size: 15px;
  border: none;
  transition: background-color 0.2s;
}

.add-post .button-secondary {
  background-color: #f0f0f5;
  color: #2c3e50;
}

.add-post .button-secondary:hover {
  background-color: #e5e5ea;
}

.button-primary {
  background-color: #4351af;
  color: #fff;
}

.add-post .button-primary:hover {
  background-color: #3b489a;
}

.message-error {
  color: var(--color-red-400);
  background-color: var(--color-red-100);
  border: 1px solid var(--color-red-400);
  padding: 10px;
  border-radius: 6px;
  margin-top: 15px;
  text-align: center;
}
