.lessons-container .lessons-header h3 {
  font-weight: 600;
  font-size: 25px;
}

.lessons-container .lessons-header p {
  font-weight: 400;
  font-size: 14px;
  color: rgb(115, 115, 115);
}

.lessons-container .lessons-search {
  display: flex;
  margin-top: 15px;
  gap: 15px;
}

/*##################---Input---##################*/
.lessons-container .lessons-search input {
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: calc(75% - 15px);
  height: 40px;
  padding: 10px;
  font-size: 13px;
}

.lessons-container .lessons-search input::placeholder {
  font-size: 13px;
}

.lessons-container .lessons-search input:focus {
  outline: 2px solid rgb(0, 0, 0);
}

/*##################---select---##################*/

.lessons-container .lessons-search select {
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 25%;
  height: 40px;
  padding: 10px;
  font-size: 13px;
}

.lessons-container .lessons-search select:focus {
  outline: 2px solid rgb(0, 0, 0);
}
/*##################---select-section--##################*/

.lessons-container .select-section {
  border-radius: 8px;
  margin-top: 15px;
  width: 100%;
  background-color: rgb(245, 245, 245);
}

.lessons-container .select-section ul {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  gap: 5px;
}

.lessons-container .select-section ul li {
  /* padding: 2px 15px; */
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: rgb(115, 115, 115);
  cursor: pointer;
  transition: 0.4s;
}

.lessons-container .select-section ul li:first-child {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.lessons-container .select-section ul li:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.lessons-container .lessons-main {
  width: 100%;
  display: grid;
  padding-top: 30px;
  gap: 15px;
  /* background-color: saddlebrown; */
}

@media (min-width: 0px) and (max-width: 620px) {
  .lessons-container .lessons-main {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 621px) and (max-width: 767px) {
  .lessons-container .lessons-main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .lessons-container .lessons-main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1081px) {
  .lessons-container .lessons-main {
    grid-template-columns: repeat(3, 1fr);
  }
}

.lessons-container .lessons-main h3 {
  margin-top: 60px;
  font-weight: 300;
  color: rgba(115, 115, 115, 0.564);
}

.select-task {
  width: 100%;
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  overflow: hidden;
  margin-top: 15px;
}

.tabs {
  display: flex;
  gap: 5px;
  padding: 5px;
}
.tabs button {
  padding: 5px 12px;
  flex: 0.5;
  color: rgb(115, 115, 115);
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}
@media (max-width: 573px) {
  .tabs {
    flex-wrap: wrap;
  }
  .tabs button {
    flex: 1;
    min-width: 100%;
  }
}

.tabs button:hover {
  background-color: rgb(255, 255, 255);
}
.tabs button.active {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/* HTML: <div class="loader"></div> */
