.color-main-blue {
  color: var(--mainBlue);
}
.dashboard-section {
  padding: 25px;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.dashboard-section h1 {
  margin: 40px 0;
}
.dashboard-section > p {
  margin: 20px 0 60px 20px;
  font-size: 15px;
}

/*-----------------------########################------------*/
.dashboard-second {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
  gap: 15px;
}

.all-dashboard-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 280px;
  gap: 15px;
}

.dashboard-second .dashboard-box {
  padding: 25px;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.dashboard-second .dashboard-box h3 {
  font-weight: 500;
  display: inline;
}

.dashboard-second .dashboard-box a {
  float: right;
  font-size: 13px;
}

.dashboard-second .dashboard-box ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.dashboard-second .dashboard-box li {
  list-style: none;
  flex: 1;
  min-width: calc(100% -15px / 2);
}

.dashboard-second .dashboard-box .null-lessons-announcements {
  margin-top: 40px;
  text-align: center;
  font-size: 13px;
  color: #737373;
}

/*################--Right-aside--####################*/
.dashboard-second .right-aside {
  min-width: 290px;
  flex: 0.5;
}

@media (max-width: 680px) {
  .dashboard-second .right-aside {
    flex: 1;
  }
}

.dashboard-second .forum-activty {
  margin-bottom: 15px;
  padding: 25px;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.dashboard-second .right-aside .forum-activty h3 {
  font-weight: 500;
  display: inline;
}

.dashboard-second .right-aside .forum-activty a {
  font-size: 13px;
  float: right;
}

.right-aside .forum-activty .null-lessons-announcements {
  margin: 40px auto 20px;
  text-align: center;
  font-size: 12px;
  color: #737373;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.all-quizzes {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.quiz {
  flex: 1;
  padding: 25px 20px;
  height: 70px;
  background-color: #f7f7f7;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.quiz p {
  font-weight: 500;
}

@media (max-width: 680px) {
  .quiz p {
    font-size: 13px;
  }
}

.quiz .icon-back {
  background-color: var(--color-green-100);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quiz .task-icon {
  color: var(--color-green-400);
}
